img {
  max-width: 100%;
  aspect-ratio: 1;
}

.card p {
  font-size: 0.7rem;
}

html body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: difference;
}

.row .col-3 {
  width: 30%;
}

html .home-container {
  max-width: 100%;
}